.style-title {
  font-size: 1.0em;
}

.card-item {
  margin: 20px auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-animated {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  
}

.border-select {
  border: 2px solid red;
}

.btn-detail {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #E2F5E3;
}

.btn-detail:hover {
  background-color: #28a745;
  font-weight: bold;
}

.btn-detail:active {
  background-color: #218838;
}

